*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    color: rgba(255, 254, 254, 0.773);
    font-weight: 400;
    background-color: #8b2c85bc;
    box-shadow: 0px 5px 6px rgba(93, 70, 91, 0.862);
 
}

ul{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

nav ul li {
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 0;
    padding: 80px 0px 20px 0px;
}



.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    width: 550px;
    height: 350px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    object-fit: fill;
    border-radius: 7px;
}
.gallery div{
    position: relative;
}
.authorText{
    width: 225px;
    display:none;
    position: absolute;
    top:150px;
    left:190px;
    z-index: 2;
    font-size: larger;
    text-wrap: wrap;
    font-style:italic;
    font-weight: 800;
    cursor: pointer;
}

.gallery img:hover{
    transform: scale(1.0005);
    filter: blur(2px);
}

.newImageForm{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content:flex-start;
    align-items: center;
    padding: 60px;
}

input {
    width: 50vw;
    padding: 5px;
  }

.newImageForm button{
    background-color: #8b2c85bc;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    color:  rgba(255, 254, 254, 0.773);
}
